/* color palette from <https://github.com/vuejs/theme> */

body {
  min-height: 100vh;
  max-width: 1024px;
  margin: 0 auto;
  padding: 48px 0;
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  margin: 0;
}
